<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/487301cf1d.js" crossorigin="anonymous"></script>
    <!-- <script src="/js/home/main.js" defer></script> -->
    <title>홈</title>
</head>
<body>      
  <!-- navigation -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" ><span class="mb-0 h1">치유</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent" aria-expanded="false" 
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" href="/navigation">홈</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><i class="fas fa-user-friends"></i>동병인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/symptom">내프로필</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/navigation">알림</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/symptom">메뉴</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" 
               aria-expanded="false">접속하기</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if (howami) {%>
                <li><a class="dropdown-item static-item" href="/login">로그인</a></li>
                <li><a class="dropdown-item active_item" href="#">로그아웃</a></li>
              <% } else { %>
                <li><a class="dropdown-item active-item" href="/login">로그인</a></li>
                <li><a class="dropdown-item static-item" href="#">로그아웃</a></li>
              <% } %>              
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- 좋아요 모달  -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-fullsize modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content modal-fullsize">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
          <h5 class="modal-title" id="exampleModalLongTitle">모두 </h5>
        </div>
        <div class="modal-body">
          <div class="likers-list" id="likers-list"></div>          
        </div>
      </div>
    </div>
  </div> 
  <!-- alert login modal -->
  <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header alert-header">
          <h5 class="modal-title" id="alertModalLabel">로그인 상태가 아닙니다.</h5>
          <button type="button" class="btn-close" id="loginAlertEx" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="alertModalBody">
          <h4><span>로그인 하세요!!!</span></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
        </div>
      </div>
    </div>
  </div>  
  <!-- alert error modal -->
  <div class="modal fade" id="alertErrorModal" tabindex="-1" role="dialog" aria-labelledby="alertErrorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header alert-header">
          <h5 class="modal-title" id="alertErrorModalLabel">로그인 상태가 아닙니다.</h5>
          <button type="button" class="btn-close" id="errorAlertEx" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="alertErrorModalBody">
          <h4><span>로그인 하세요!!!</span></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
        </div>
      </div>
    </div>
  </div>  
  <div class="container main-container">  
    <div class="d-grid gap-2">
      <!-- ==============게시글 쓰기 버튼================== -->
      <!-- <button class="btn btn-success" type="button" a href='#upLoadModal' 
              role="button" class="open-modal" data-bs-toggle="modal">        
        <a href="#" class="on"><span class="mb-0 h3">증상올리기</span></a></button> -->
        <button class="btn btn-success" type="button" >        
        <a href="/upload" class="on"><span class="mb-0 h3">증상올리기</span></a></button>
    </div>        
    <div class="board_wrap">
        <div class="board_view">
            <% if (data.length == 0) {%>
              <div class="info">
                <dl>
                    <dt>번호</dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt>글쓴이</dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt>작성일</dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt>증상</dt>
                    <dd><%=symp_nm%></dd>
                </dl>
              </div>
            <%} else {%>
              <% for(var i=0; i<data.length; i++){ %>   
                  <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd><%=data[i].board_key_id%></dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd><%=data[i].board_user_id%></dd>
                    </dl><dl>
                        <dt>작성일</dt>
                        <dd><%=data[i].creat_dt%></dd>
                    </dl>
                    <dl>
                        <dt>증상</dt>
                        <dd><%=symp_nm%></dd>
                    </dl>
                  </div>
                  <div class="stat">
                    <a href="#" class="on" onclick=
                          "popupread('<%=data[i].board_key_id%>', '<%=data[i].board_user_id%>', '<%=data[i].creat_dt%>', '<%=data[i].read_cnt%>', '<%=data[i].reply_cnt%>', '<%=data[i].title%>', '<%=data[i].contents%>', '<%=symp_nm%>');">
                        <%=data[i].title%>
                    </a>
                  </div>
                  <div class="cont">
                    <a href="#" class="on" onclick=
                          "popupread('<%=data[i].board_key_id%>', '<%=data[i].board_user_id%>', '<%=data[i].creat_dt%>', '<%=data[i].read_cnt%>', '<%=data[i].reply_cnt%>', '<%=data[i].title%>', '<%=data[i].contents%>', '<%=symp_nm%>');">
                        <%=data[i].contents%>
                    </a>
                  </div>
                  <div class="show_cnt">
                    <div class="prefer">
                      <!-- ================좋아요 목록 모달 popup 버튼======================== -->
                      <!-- <p id="button1" class="on" onclick="likers('<%=data[i].board_key_id%>');">
                      <p><i class="<%=data[i].lik%>"></i>      <%=data[i].like_cnt%>개</p> -->
                      <a href='#exampleModal' role="button" class="open-modal" id="open-modal<%=i%>"
                           data-bs-toggle="modal" data-bs-id="<%=data[i].board_key_id%>" data-bs-cnt="<%=data[i].like_cnt%>">
                           <i class="<%=data[i].lik%>" id="show-likers<%=i%>"></i><span id="totLike<%=i%>"><%=data[i].like_cnt%>개</span></a>       
                    </div>
                    <div class="read_cnt">
                      <p class="on" onclick="like('<%=data[i].board_key_id%>');">
                        조회      <%=data[i].read_cnt%>개</p>
                    </div>
                    <div class="reply_cnt">
                      <p class="on" id="reply<%=i%>" value="<%=data[i].reply_cnt%>" onclick="like('<%=data[i].board_key_id%>');">
                        댓글      <%=data[i].reply_cnt%>개</p>
                    </div>
                  </div>
                  <form class="btn_increse">
                    <div class="btn_wrap" id="wrap<%=i%>">
                      <!-- ====================================좋아요 누르기 =====================-->                      
                      <p id="like-button<%=i%>" class="on like" data-bs-key="<%=data[i].board_key_id%>" data-bs-hitlike="hitLike<%=i%>" data-bs-cnt="<%=data[i].like_cnt%>"
                         data-bs-nick="<%=data[i].board_user_id%>" data-bs-liked="<%=data[i].liked%>" data-bs-pos="open-modal<%=i%>" data-bs-show="show-likers<%=i%>"
                         data-bs-totcnt="totLike<%=i%>" data-bs-status="<%=howami%>" data-bs-likeid="<%=data[i].like_id%>"> 
                        좋아요 <i class="<%=data[i].lik%>" id="hitLike<%=i%>" data-bs-status="<%=howami%>" data-bs-likeid="<%=data[i].like_id%>"></i></p>                                        
                      <!-- ====================================댓글달기 =====================-->                      
                      <p id="reply-button<%=i%>" class="on collapsed login-reply" data-bs-toggle="collapse" data-bs-target="#collapseOne<%=i%>" data-bs-tot="reply<%=i%>"
                          aria-expanded="true" aria-controls="collapseOne<%=i%>" data-bs-id="<%=data[i].board_key_id%>" data-bs-pos="collapse<%=i%>">
                        댓글달기 <i class="far fa-comment-dots" data-bs-tot="reply<%=i%>"></i>
                      </p>                      
                      <div id="collapseOne<%=i%>" class="accordion-collapse collapse hide" data-bs-target="#collapse<%=i%>" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <div class="mb-3">
                            <div class="container con-reply row" id="collapse<%=i%>">
                              <!-- <ul class="list-group" id="list-group<%=i%>">                                
                              </ul> -->
                              <div class="imsi">
                                <textarea class="form-control fc" id="formGroupExampleInput<%=i%>" 
                                  data-bs-key="<%=data[i].board_key_id%>" data-bs-user="<%=data[i].board_user_id%>"  placeholder="댓글을 입력하세요" ></textarea>
                                <p id="replyQ<%=i%>" class="btn-bird" type="button" data-bs-acc="collapse<%=i%>-ul" data-bs-pos="reply<%=i%>" data-bs-user="<%=id%>" 
                                  data-bs-tx="formGroupExampleInput<%=i%>" data-bs-key="<%=data[i].board_key_id%>" data-bs-status="<%=howami%>" data-target="#alertModal">
                                  <i class="fas fa-paper-plane" data-bs-tx="formGroupExampleInput<%=i%>" data-bs-key="<%=data[i].board_key_id%>" data-bs-user="<%=id%>" 
                                    data-bs-pos="reply<%=i%>" data-bs-acc="collapse<%=i%>-ul" data-bs-status="<%=howami%>" data-target="#alertModal"></i></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
              <% } %>
            <%} %>
        </div>
    </div>
    <script src="/js/home/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </div>
</body>
</html>
