<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/487301cf1d.js" crossorigin="anonymous"></script>
    <script src="/js/home/main.js" defer></script>
    <title>홈</title>
</head>
<body>      
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" ><span class="mb-0 h1">치유</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent" aria-expanded="false" 
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" href="/navigation">홈</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><i class="fas fa-user-friends"></i>동병인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/symptom">내프로필</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/navigation">알림</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/symptom">메뉴</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> 
  <!-- 좋아요 모달  -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
          <h5 class="modal-title" id="exampleModalLabel">모두 </h5>
        </div>
        <div class="modal-body">
          <div class="likers-list" id="likers-list"></div>          
        </div>
      </div>
    </div>
  </div> 
  <!-- 게시글 모달  -->
  <% if (howami) {%>
    <div class="modal fade" id="upLoadModal" tabindex="-1" aria-labelledby="upLoadModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="upLoadModalLabel">글 올리기</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">간략내용:</label>
                <input type="search" class="form-control" id="recipient-name" >
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">상세내용:</label>
                <textarea type= "search" class="form-control" id="message-text"></textarea>
                <input id="clear" type="button" value="Clear" onclick="javascript:eraseText();">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="upload" onclick="upload('<%=data%>');">글 올리기</button>
          </div>
        </div>
      </div>
    </div>
  <% } else {%>
    <!-- 로그인모달 -->
    <div class="modal fade" id="upLoadModal" tabindex="-1" aria-labelledby="upLoadModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="upLoadModalLabel">로그인</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">닉네임</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="닉네임">
                <div id="emailHelp" class="form-text"></div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">비밀번호</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="비밀번호">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="upload" onclick="upload('<%=data%>');">로그인</button><br>
            <p class="message">비밀번호가 기억안나요<a href="/register">비밀번호변경</a></p><br>
            <p class="message">회원이 아니시라면? <a href="/register">가입하기</a></p>
          </div>
        </div>
      </div>
    </div>
  <% } %>
  <div class="container">  
    <div class="d-grid gap-2">
      <button class="btn btn-success" type="button" a href='#upLoadModal' 
              role="button" class="open-modal" data-bs-toggle="modal">        
        <a href="#" class="on"><span class="mb-0 h3">증상올리기</span></a></button>
    </div>   
    <div class="board_wrap">
        <div class="board_view">
            <% if (data.length == 0) {%>
              <div class="info">
                <dl>
                    <dt>번호</dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt>글쓴이</dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt>작성일</dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt>증상</dt>
                    <dd><%=symp_nm%></dd>
                </dl>
              </div>
            <%} else {%>
              <% for(var i=0; i<data.length; i++){ %>
                <% if (data[i].rk === 1) {%>                  
                  <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd><%=data[i].board_key_id%></dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd><%=data[i].board_user_id%></dd>
                    </dl><dl>
                        <dt>작성일</dt>
                        <dd><%=data[i].creat_dt%></dd>
                    </dl>
                    <dl>
                        <dt>증상</dt>
                        <dd><%=symp_nm%></dd>
                    </dl>
                  </div>
                  <div class="stat">
                    <a href="#" class="on" onclick=
                          "popupread('<%=data[i].board_key_id%>', '<%=data[i].board_user_id%>', '<%=data[i].creat_dt%>', '<%=data[i].read_cnt%>', '<%=data[i].reply_cnt%>', '<%=data[i].title%>', '<%=data[i].contents%>', '<%=symp_nm%>');">
                        <%=data[i].title%>
                    </a>
                  </div>
                  <div class="cont">
                    <a href="#" class="on" onclick=
                          "popupread('<%=data[i].board_key_id%>', '<%=data[i].board_user_id%>', '<%=data[i].creat_dt%>', '<%=data[i].read_cnt%>', '<%=data[i].reply_cnt%>', '<%=data[i].title%>', '<%=data[i].contents%>', '<%=symp_nm%>');">
                        <%=data[i].contents%>
                    </a>
                  </div>
                  <div class="show_cnt">
                    <div class="prefer">
                      <!-- <p id="button1" class="on" onclick="likers('<%=data[i].board_key_id%>');"> -->
                      <!-- <p id="button1" class="on" onclick="likers('<%=data[i].board_key_id%>');">
                      <p><i class="<%=data[i].lik%>"></i>      <%=data[i].like_cnt%>개</p> -->
                      <a href='#exampleModal' role="button" class="open-modal" 
                           data-bs-toggle="modal" data-bs-id="<%=data[i].board_key_id%>" 
                           data-bs-cnt="<%=data[i].like_cnt%>">
                           <i class="<%=data[i].lik%>"></i>    <%=data[i].like_cnt%>개</a>       
                    </div>
                    <div class="read_cnt">
                      <p id="button2" class="on" onclick="like('<%=data[i].board_key_id%>');">
                        조회      <%=data[i].read_cnt%>개</p>
                    </div>
                    <div class="reply_cnt">
                      <p id="button3" class="on" onclick="like('<%=data[i].board_key_id%>');">
                        댓글      <%=data[i].reply_cnt%>개</p>
                    </div>
                  </div>
                  <form class="btn_increse">
                    <div class="btn_wrap">
                        <p id="button" class="on" onclick="like('<%=data[i].board_key_id%>', '<%=data[i].board_user_id%>','<%=data[i].liked%>', '<%=data[i].like_id%>', '<%=data[i].lik%>');">
                            좋아요 <i class="<%=data[i].lik%>"></i></p>
                        <p id="button" class="on" onclick="reply('<%=data[i].board_key_id%>');">
                            댓글달기 <i class="far fa-comment-dots"></i></p>
                    </div>
                  </form>
                <% } %>
              <% } %>
            <%} %>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </div>
</body>
</html>
